<!DOCTYPE html>
<html>
  <head>
    <title>Flixter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice.present? %>
     <p class="alert alert-info col-10 offset-1"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
     <p class="alert alert-danger col-10 offset-1"><%= alert %></p>
    <% end %> 

    <%= yield %>
  </body>
</html>
